.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.img {
  width: 600px;
  height: 600px;
  border: none;
}
.content {
  width: 600px;
  height: 600px;
  background-color: rgb(250, 249, 249);
  color: black;
}
.head {
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  font-style: italic;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.description {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  height: 220px;
}
.size {
  width: 100%;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.span {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
}
.span:hover {
  color: rgb(255, 136, 136);
  cursor: pointer;
}
.price {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
}
.mrp {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60px;
}
.icon {
  width: 100%;
  height: 60px;
}
.button {
  width: 350px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.i {
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.i:hover {
  color: rgb(255, 90, 90);
}
.alert {
  z-index: 2;
  width: 300px;
  height: 60px;
  margin: auto;
  position: fixed;
  top: 55px;
  right: 0%;
  left: 0%;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: #01b31e;
}